/SSCEntrega3-ejb/build/
/SSCEntrega3-ejb/dist/
/SSCEntrega3-war/build/
/SSCEntrega3-war/dist/
/build/
/SSCEntrega3-war/private/*
/dist/
/SSCEntrega3-ejb/nbproject/private/*
/nbproject/private/*
/SSCEntrega3-war/nbproject/private/*
